<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/home"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FPTEST"
        tools:targetApi="30">
        <activity
            android:name=".ConfirmVoteDPR3"
            android:exported="false" />
        <activity
            android:name=".ConfirmVoteDPR2"
            android:exported="false" />
        <activity
            android:name=".ConfirmVoteDPR"
            android:exported="false" />
        <activity
            android:name=".ViewLivePolling"
            android:exported="false" />
        <activity
            android:name=".LivePolling3"
            android:exported="false" />
        <activity
            android:name=".LivePolling2"
            android:exported="false" />
        <activity
            android:name=".DpdCandidate"
            android:exported="false" />
        <activity
            android:name=".DprCandidate"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".ViewPagerActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ConfirmVote3"
            android:exported="false" />
        <activity
            android:name=".ConfirmVote2"
            android:exported="false" />
        <activity
            android:name=".LivePolling"
            android:exported="false" />
        <activity
            android:name=".successVote"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmVote"
            android:exported="false" />
        <activity
            android:name=".PresidentCandidate"
            android:exported="false" />
        <activity
            android:name=".OnGoingElections"
            android:exported="false" />
        <activity
            android:name=".qrcodePage"
            android:exported="false" />
        <activity
            android:name=".successPasscode"
            android:exported="false" />
        <activity
            android:name=".passcode"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>